{% extends "base.html" %}

{% block title %}
  {{ tag.name }}
{% endblock %}

{% block navigation %}
  {% if g.user %}
    <li><a href="{{ url_for('tags.edit', id=tag.id) }}">Edit tag</a></li>
    <li><a href="{{ url_for('tags.delete', id=tag.id) }}">Delete tag</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>Tag {{ tag.name }}</h2>
  Tag is used by 

  {% if tag.posts %}
  {{ tag.posts|length }} post{% if tag.posts|length != 1 %}s{% endif %}:
    <ul>
      {% for post in tag.posts %}
        <li>
          <a href="{{ url_for('posts.show', id=post.id) }}">
            {{ post.title|title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    no posts.
  {% endif %}
{% endblock %}
