<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block fulltitle %}Blog -
        {% block title %}{% endblock %}
      {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <style type="text/css">
      textarea.span10 {
        min-height: 300px;
      }

      body {
        text-align: justify;
        margin-top: 50px;
      }

      .comment-controls {
        float: right;
      }

      .comment-actions {
        float: right;
      }

      .comment-actions > .btn {
        display: block;
        width: 5em;
        margin: 2px;
      }

      .anonymous {
        color: gray;
      }
    </style>
  </head>

  <body data-token="{{ session.get('token', '') }}">
    <div class="container">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <h1><a class="brand" href="{{ url_for('index') }}">Blog</a></h1>
            <ul class="nav">
              <li><a href="{{ url_for('posts.list') }}">Posts</a></li>
              <li><a href="{{ url_for('tags.list') }}">Tags</a></li>
              {% if g.user %}
                <li><a href="{{ url_for('posts.create') }}">Create Post</a></li>
                <li><a href="{{ url_for('tags.create') }}">Create Tag</a></li>
              {% endif %}
              {% block navigation %}{% endblock %}
            </ul>
            <ul class="nav pull-right">
              {% if g.user %}
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
              {% else %}
                <li><a href="{{ url_for('login') }}">Log in</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="row">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <strong>{{ category|capitalize }}!</strong> {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>

    <script type="text/coffeescript" src="/static/script.coffee"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.3.1/coffee-script.min.js"></script>
  </body>
</html>
