{% extends "base.html" %}
{% from "posts/preview.html" import preview as render_preview %}

{% block title %}
  {% if edit %}
    Edit {{ post.title|title }}
  {% else %}
    Create Post
  {% endif %}
{% endblock %}

{% block navigation %}
  {% if edit %}
    <li><a href="{{ url_for('posts.delete', id=post.id) }}">Delete post</a></li>
    <li><a href="{{ url_for('posts.show', id=post.id) }}">Back to post</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  {% with %}
  {% set preview = preview|default(False) %}
  {% set title = post.title if post else '' %}
  {% set content = post.content if post else '' %}
  <form method="POST" action="" class="form-horizontal">
    <fieldset>
      <legend>
        {% if edit %}
          Edit {{ post.title|title }}
        {% else %}
          Create Post
        {% endif %}
      </legend>
      <input type="hidden" name="token" value="{{ session["token"] }}">

      <div class="control-group">
        <label class="control-label" for="title">Title:</label>
        <div class="controls">
          <input type="text" class="span10" name="title" value="{{ title }}">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="content">Content:</label>
        <div class="controls">
          <textarea class="span10" name="content">{{ content }}</textarea>
        </div>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" type="submit" name="action" value="save">
          Save
        </button>
        <button class="btn" type="submit" name="action" value="preview">
          Preview
        </button>
      </div>
    </fieldset>
  </form>

  {% if preview %}
    {{ render_preview(post) }}
  {% endif %}
  {% endwith %}
{% endblock %}
