{% extends "base.html" %}
{% from "posts/preview.html" import preview %}
{% from "comments/show-macro.html" import show_comment %}
{% from "comments/edit-macro.html" import edit_comment %}

{% block title %}{{ post.title }}{% endblock %}

{% block navigation %}
  {% if g.user %}
    <li><a href="{{ url_for('posts.edit', id=post.id) }}">Edit post</a></li>
    <li><a href="{{ url_for('posts.delete', id=post.id) }}">Delete post</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  {{ preview(post) }}

  {% if post.comments %}
    <h3>Comments</h3>
    {% for comment in post.comments %}
      {{ show_comment(comment, user=g.user) }}
    {% endfor %}
  {% endif %}

  {{ edit_comment(post=post, edit=False, user=g.user, token=session['token']) }}
{% endblock %}
