{% extends "base.html" %}
{% from "comments/show-macro.html" import show_comment %}

{% block title %}
  Delete Comment
{% endblock %}

{% block content %}
  <form class="alert alert-danger" method="POST" action="">
    <input type="hidden" value="{{ session['token'] }}" name="token">
    <strong>Are you sure</strong> you want to delete this comment?
    <button class="btn btn-danger btn-small" name="action" value="delete">
      Yes, delete this comment
    </button>
    <button class="btn btn-small" name="action" value="cancel">
      Cancel
    </button>
  </form>

  {{ show_comment(comment, user=g.user) }}
{% endblock %}
