{% macro show_comment(comment, user=None) %}
  <div class="row">
    <article class="well span12 comment">
      <div class="row">
        <div class="comment-container span11">
          <h4>
            {% if comment.user %}
              <span class="user">{{ comment.user.name }}</span>
            {% else %}
              <span class="anonymous">{{ comment.username }}</span>
            {% endif %}
            said
            <time datetime="{{ comment.creation_time.isoformat() }}" pubdate>
              {{- comment.creation_time|timesince -}}
            </time>:
          </h4>
          <div class="content">
            {{ comment.content }}
          </div>
        </div>

        {% if user %}
          <div class="comment-controls span1">
            <a href="{{ url_for('comments.edit', id=comment.id) }}" class="icon-edit edit"></a>
            <a href="{{ url_for('comments.delete', id=comment.id) }}" class="icon-remove delete"></a>
          </div>
        {% endif %}
      </div>
    </article>
  </div>
{% endmacro %}
